<table width="100%" bgcolor="#f2f2f2">
  <tr>
   <tr>
    <td align="center" style="padding: 20px;">
      <img src="{{brandLogo}}" alt="Logo {{brandName}}" width="120" style="display: block;" />
    </td>
  </tr>
  </tr>
</table>
